<div style= margin-left:40px >
    <h3>Update Inquiry Form</h3>
    <form>
      <mat-form-field >
        <input matInput placeholder="First Name" id="firstname" [(ngModel)]=" firstName" name="firstname" required >
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder="Last Name" id="lastname" [(ngModel)]=" lastName" name="lastname" required>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder="Enter Request Here" id="inquiry" [(ngModel)]=" inquiry" name="inquiry" required>
      </mat-form-field>
      <br>
      <mat-form-field >
        <input matInput placeholder="RX Refill? (Enter:'Y'or'N')" id="rx" [(ngModel)]=" rx" name="rx" required maxlength="1">
      </mat-form-field>
      <p>
        <button (click)="onUpdateClick()">Update</button>
      </p>
    </form>
  </div>
    