<div class= "dashboard-body">
  <p><b>Telemedicine</b> is here to provide you a complete healthcare services virtually. Healthcare providers are rapidly deploying new virtual workflows due to circumstances resulting
     from COVID-19 (coronavirus disease) to reduce the risk of transmission to healthy patients. 
     Here you’ll find resources to help you manage the change - from getting your clinicians, care team, 
     patients and families comfortable with virtual consults, to guidance for IT on rapid deployment considerations. You can see the available Providers, who are in live now: 
  </p><br/><br/> 

  <div class="center">

    <google-map
    height="700px"
    width="900px"
    [zoom]="11"
    [center]="center"
    [options]="options"
    ></google-map>

  </div>

</div>

